name: Swift CI

on:
  push:
    branches:
      - main
      - feature_ci_cd_student2
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Swift
        uses: fwal/setup-swift@v1
        with:
          swift-version: "5.9"

      - name: Build project
        run: swift build

      - name: Run tests
        run: swift test
