name: CI for Student2

on:
  push:
    branches:
      - feature_ci_cd_student2
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Run simple test
        run: echo "CI working for Student2!"
